<script src="/js/addMethods.js"></script>
<div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-8">
            <div class="reportTitle">Accounts</div>
            <a href="/account/add">Add new account</a>
            <table id="account_table" class="table">
                <thead class="thead-light">
                <tr>
                    <th>Actions</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {{#each accounts}}
                    <tr>
                        <td style="width: 80px">
                            <a data-toggle="tooltip" title="Edit account" href="/account/edit/{{this.id}}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-toggle="tooltip" title="Delete account" href="/account/{{this.id}}"
                               data-method="delete"
                               data-target-url="/account/"
                               data-confirm="Are you sure?">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a data-toggle="tooltip" title="Change password" href="/account/{{this.id}}/password">
                                <i class="fas fa-key"></i>
                            </a>
                        </td>
                        <td style="width: 120px">{{this.username}}</td>
                        <td>{{this.firstname}} {{this.surname}}</td>
                        <td>{{this.role_name}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
