<script src="/js/addMethods.js"></script>
<div class="container-fluid">

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <div class="pageTitle">{{project.name}} risks</div>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <p>
                <a class="btn btn-outline-secondary btn-sm" href="/" role="button">
                    <i class="fas fa-home"></i> Home
                </a>
                <a class="btn btn-outline-secondary btn-sm" href="/project/{{project.id}}" role="button">
                    <i class="fas fa-external-link-square-alt"></i> {{project.name}}
                </a>
                {{#if user.editor}}
                    <a class="btn btn-outline-secondary btn-sm" href="/project/{{project.id}}/risk/add" role="button">
                        <i class="fas fa-plus-square"></i> Add Risk
                    </a>
                {{/if}}
            </p>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">

            <table id="report_table" class="table">
                <thead class="thead-light">
                <tr>
                    <th>Date Added</th>
                    <th>Likelihood</th>
                    <th>Impact</th>
                    <th>Severity</th>
                    <th>Risk</th>
                    <th>Mitigation</th>
                    <th>State</th>
                </tr>
                </thead>
                <tbody>
                {{#each risks}}
                    <tr>
                        <td class="dateFixedWidth">{{formatDate this.date_added}}</td>
                        <td class="rag_status {{this.likelihood}}">{{this.likelihood}}</td>
                        <td class="rag_status {{this.impact}}">{{this.impact}}</td>
                        <td class="rag_status {{this.severity}}">{{this.severity}}</td>
                        <td>{{this.risk}}</td>
                        <td>{{this.mitigating_action}}</td>
                        <td>{{#if this.is_closed}}Closed{{else}}Open{{/if}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
