<script src="/js/addMethods.js"></script>
<div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-8">
            <div class="pageTitle">Current Reports</div>
            {{#if user.editor}}
            <a href="/report?action=add">Add new report</a>
            {{/if}}
            <table id="report_table" class="table">
                <thead class="thead-light">
                <tr>
                    <th>Actions</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each project_reports}}
                    <tr>
                        <td class="actionsFixedWidth">
                            <a data-toggle="tooltip" title="View report" href="/report/{{this.id}}">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a data-toggle="tooltip" title="Edit report"  href="/report/{{this.id}}?action=edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-toggle="tooltip" title="Delete report" href="/report/{{this.id}}"
                               data-method="delete"
                               data-target-url="/report/"
                               data-confirm="Are you sure?">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <td class="dateFixedWidth"><a data-toggle="tooltip" title="View report" href="/report/{{this.id}}">{{formatDate this.report_date}}</a></td>
                        <td>{{this.title}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
