<div class="container-fluid">

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <div class="projectName">{{project.name}}</div>
            <div class="projectDescription">{{project.description}}</div>
        </div>
    </div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <table id="report_table" class="table table-striped table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Scope</th>
                    <th>Risk</th>
                    <th>Schedule</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each reports}}
                    <tr>
                        <td style="width: 150px"><a href="/report/{{this.report_id}}">{{formatDate this.report_date}}</a></td>
                        <td class="rag_status {{scope}}">{{scope}}</td>
                        <td class="rag_status {{risk}}">{{risk}}</td>
                        <td class="rag_status {{schedule}}">{{schedule}}</td>
                        <td>{{this.description}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
