<div class="container-fluid">

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <div class="reportTitle">RAG report for {{formatDate report.report_date}}</div>
            <div class="reportDescription">{{report.title}}</div>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center">

        <div class="col col-md-3">
            <div class="card">
                <h5 class="card-header text-center">Scope</h5>
                <div class="card-body">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger display-4 font-weight-bold text-center">{{scopeTotals.red}}</li>
                        <li class="list-group-item bg-warning display-4 font-weight-bold text-center">{{scopeTotals.amber}}</li>
                        <li class="list-group-item bg-success display-4 font-weight-bold text-center">{{scopeTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="card">
                <h5 class="card-header text-center">Schedule</h5>
                <div class="card-body">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger text-center font-weight-bold display-4">{{scheduleTotals.red}}</li>
                        <li class="list-group-item bg-warning text-center font-weight-bold display-4">{{scheduleTotals.amber}}</li>
                        <li class="list-group-item bg-success text-center font-weight-bold display-4">{{scheduleTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <div class="card">
                <h5 class="card-header text-center">Risk</h5>
                <div class="card-body">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger text-center font-weight-bold display-4">{{riskTotals.red}}</li>
                        <li class="list-group-item bg-warning text-center font-weight-bold display-4">{{riskTotals.amber}}</li>
                        <li class="list-group-item bg-success text-center font-weight-bold display-4">{{riskTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-11 ">
            <table id="report_table" class="table table-striped table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Project Code</th>
                    <th>Service / Team</th>
                    <th class="rag_status">Schedule</th>
                    <th class="rag_status">Scope</th>
                    <th class="rag_status">Risk</th>
                    <th>Highlights/Lowlights
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each project_rag}}
                    <tr>
                        <td>{{this.code}}</td>
                        <td>
                            <div class="textOnLeft">
                                <a data-toggle="tooltip" title="View all reports for this project" href="/project/{{this.project_id}}">{{this.project_name}}</a>
                            </div>


                            {{#if ../user.editor}}
                                <div class="iconOnRight">
                                    <a data-toggle="tooltip" title="Edit project status" href="/project/{{this.project_id}}/report/{{../report.id}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            {{/if}}
                        </td>
                        <td class="rag_status {{this.schedule}}">
                            <div class="textOnLeft">{{this.schedule}}</div>
                            <div class="iconOnRight"><i class="{{directionArrow schedule_direction}}"
                                                                   aria-hidden="true"></i></div>
                        <td class="rag_status {{this.scope}}">
                            <div class="textOnLeft">{{this.scope}}</div>
                            <div class="iconOnRight"><i class="{{directionArrow scope_direction}}"
                                                                   aria-hidden="true"></i></div>
                        <td class="rag_status {{this.risk}}">
                            <div class="textOnLeft">{{this.risk}}</div>
                            <div class="iconOnRight"><i class="{{directionArrow risk_direction}}"
                                                                   aria-hidden="true"></i></div>
                        <td>{{this.description}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
