<div class="container-fluid">

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-9">
            <div class="pageTitle">RAG report for {{formatDate report.report_date}}</div>
            <div id="headerButtons">
                <p>
                    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#reportDashboard"
                       role="button"
                       aria-expanded="true" aria-controls="projectDescription">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#projectDescription"
                       role="button"
                       aria-expanded="false" aria-controls="projectDescription">
                        <i class="fas fa-info-circle"></i> Report Description
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#downloadLinks"
                       role="button"
                       aria-expanded="false" aria-controls="downloadLinks">
                        <i class="fas fa-download"></i> Download Report
                    </a>
                </p>
                <div class="collapse" id="projectDescription">
                    <div class="card card-body">
                        <div class="reportDescription">{{report.title}}</div>
                    </div>
                </div>
                <div class="collapse" id="downloadLinks">
                    <div class="card card-body">
                        <a href="/report/{{report.id}}?action=xlsx"><i class="fas fa-file-excel"></i> Download report as
                            Excel file</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center collapse show" id="reportDashboard">
        <div class="col col-lg-3">
            <div class="card">
                <h5 class="card-header text-center">Scope</h5>
                <div class="card-body" style="margin: 0 auto">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger display-4 font-weight-bold text-center">{{scopeTotals.red}}</li>
                        <li class="list-group-item bg-warning display-4 font-weight-bold text-center">{{scopeTotals.amber}}</li>
                        <li class="list-group-item bg-success display-4 font-weight-bold text-center">{{scopeTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="card">
                <h5 class="card-header text-center">Schedule</h5>
                <div class="card-body" style="margin: 0 auto">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger text-center font-weight-bold display-4">{{scheduleTotals.red}}</li>
                        <li class="list-group-item bg-warning text-center font-weight-bold display-4">{{scheduleTotals.amber}}</li>
                        <li class="list-group-item bg-success text-center font-weight-bold display-4">{{scheduleTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="card">
                <h5 class="card-header text-center">Risk</h5>
                <div class="card-body" style="margin: 0 auto">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger text-center font-weight-bold display-4">{{riskTotals.red}}</li>
                        <li class="list-group-item bg-warning text-center font-weight-bold display-4">{{riskTotals.amber}}</li>
                        <li class="list-group-item bg-success text-center font-weight-bold display-4">{{riskTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-11">
            <table id="report_table" class="table table-striped table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    {{#if user.editor}}
                        <th class="dontPrint"></th>
                    {{/if}}
                    <th>Project Code</th>
                    <th>Service / Team</th>
                    <th class="rag_status">Schedule</th>
                    <th class="rag_status">Scope</th>
                    <th class="rag_status">Risk</th>
                    <th>Highlights/Lowlights
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each project_rag}}
                    <tr>
                        {{#if ../user.editor}}
                            <td class="dontPrint">
                                <div>
                                    <a data-toggle="tooltip" title="Edit project status"
                                       href="/project/{{this.project_id}}/report/{{../report.id}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                        {{/if}}
                        <td>{{this.code}}</td>
                        <td>
                            <div class="">
                                <a data-toggle="tooltip" title="View all reports for this project"
                                   href="/project/{{this.project_id}}">{{this.project_name}}</a>
                            </div>
                        </td>
                        <td class="rag_status {{this.schedule}}">
                            <div class="textOnLeft {{this.schedule}}">{{this.schedule}}</div>
                            <div class="iconOnRight {{this.schedule}}"><i class="{{directionArrow schedule_direction}}"
                                                                          aria-hidden="true"></i></div>

                        <td class="rag_status {{this.scope}}">
                            <div class="textOnLeft {{this.scope}}">{{this.scope}}</div>
                            <div class="iconOnRight {{this.scope}}"><i class="{{directionArrow scope_direction}}"
                                                                       aria-hidden="true"></i></div>
                        <td class="rag_status {{this.risk}}">
                            <div class="textOnLeft {{this.risk}}">{{this.risk}}</div>
                            <div class="iconOnRight {{this.risk}}"><i class="{{directionArrow risk_direction}}"
                                                                      aria-hidden="true"></i></div>
                        <td>{{this.description}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
