<div class="container-fluid">

    <div class="reportTitle"><h2>Report for {{formatDate report_date}}</h2></div>

    <div class="row">
        <div class="col-md-12">
            <table id="rag_table">
                <thead>
                <tr>
                    <th>Project Code</th>
                    <th>Service / Team</th>
                    <th class="rag_status">Schedule</th>
                    <th class="rag_status">Scope</th>
                    <th class="rag_status">Risk</th>
                    <th>Highlights/Lowlights<br>(anything that has gone well or reason for amber/red status)
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each project_rag}}
                    <tr>
                        <td>{{this.code}}</td>
                        <td><a href="/project/{{this.project_id}}">{{this.project_name}}</a></td>
                        <td class="rag_status {{this.schedule}}">{{this.schedule}}
                            <i class="fa {{directionArrow schedule_direction}}" aria-hidden="true"></i></td>
                        <td class="rag_status {{this.scope}}">{{this.scope}}
                            <i class="fa {{directionArrow scope_direction}}" aria-hidden="true"></i></td>
                        <td class="rag_status {{this.risk}}">{{this.risk}}
                            <i class="fa {{directionArrow risk_direction}}" aria-hidden="true"></i></td>
                        <td>{{this.description}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
