<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <nav class="breadcrumb navbar py-0">
                <ul class="breadcrumb mr-auto pb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/project">Projects</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/project/{{project.id}}/risk">{{project.name}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Risk</li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col text-center"><div class="pageTitle">Edit Risk</div></div>
    </div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-8">
            <form action="/risk/{{risk.id}}" method="post">
                <div class="form-group row">
                    <label for="statusSelect" class="col-sm-2 col-form-label">Status</label>
                    <select name="status" id="statusSelect">
                        <option value="1" {{#if risk.is_closed}}selected="selected"{{/if}}>Closed</option>
                        <option value="0" {{#unless risk.is_closed}}selected="selected"{{/unless}}>Open</option>
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label for="dateInput">Risk date</label>
                    <input type="date" class="form-control" name="riskDate" id="dateInput" aria-describedby="dateHelp"
                           placeholder="Enter risk date" value="{{formatLinkDate risk.date_added}}" readonly>
                    <small id="dateHelp" class="form-text text-muted">The date that the risk was added</small>
                </div>
                <div class="form-group row">
                    <label for="likelihoodSelect" class="col-sm-2 col-form-label">Likelihood</label>
                    <select name="likelihood" id="likelihoodSelect">
                        {{#each ragValues }}
                            <option value="{{this}}" style=""
                                    {{#ifCond this "=="
                                              ../risk.likelihood}}selected="selected"{{/ifCond}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group row">
                    <label for="impactSelect" class="col-sm-2 col-form-label">Impact</label>
                    <select name="impact" id="impactSelect">
                        {{#each ragValues }}
                            <option value="{{this}}"
                                    {{#ifCond this "=="
                                              ../risk.impact}}selected="selected"{{/ifCond}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group row">
                    <label for="severitySelect" class="col-sm-2 col-form-label">Severity</label>
                    <select name="severity" id="severitySelect">
                        {{#each ragValues }}
                            <option value="{{this}}"
                                    {{#ifCond this "=="
                                              ../risk.severity}}selected="selected"{{/ifCond}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="descriptionInput">Risk</label>
                    <textarea rows="3"
                              class="form-control"
                              name="description"
                              id="descriptionInput"
                              placeholder="Description of the risk">{{risk.risk}}</textarea>
                </div>
                <div class="form-group">
                    <label for="mitigationInput">Mitigation action</label>
                    <textarea rows="3"
                              class="form-control"
                              name="mitigation"
                              id="mitigationInput"
                              placeholder="Mitigation action being taken for the risk">{{risk.mitigating_action}}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Update risk</button>
            </form>
        </div>
    </div>
</div>
