<script src="/js/addMethods.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Risk Register</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><h3>Risk Register</h3></div>
    </div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center">Likelihood</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item bg-danger h5 font-weight-bold text-center traffic_light">{{likelihoodTotals.red}}</li>
                    <li class="list-group-item bg-warning h5 font-weight-bold text-center traffic_light">{{likelihoodTotals.amber}}</li>
                    <li class="list-group-item bg-success h5 font-weight-bold text-center traffic_light">{{likelihoodTotals.green}}</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center">Impact</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item bg-danger h5 text-center font-weight-bold traffic_light">{{impactTotals.red}}</li>
                    <li class="list-group-item bg-warning h5 text-center font-weight-bold traffic_light">{{impactTotals.amber}}</li>
                    <li class="list-group-item bg-success h5 text-center font-weight-bold traffic_light">{{impactTotals.green}}</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center">Severity</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item bg-danger h5 text-center font-weight-bold traffic_light">{{severityTotals.red}}</li>
                    <li class="list-group-item bg-warning h5 text-center font-weight-bold traffic_light">{{severityTotals.amber}}</li>
                    <li class="list-group-item bg-success h5 text-center font-weight-bold traffic_light">{{severityTotals.green}}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-12">
            <table id="report_table" class="table">
                <thead class="thead-light">
                <tr>
                    <th>Project</th>
                    <th>Date Added</th>
                    <th>Likelihood</th>
                    <th>Impact</th>
                    <th>Severity</th>
                    <th>Risk</th>
                    <th>Mitigation</th>
                </tr>
                </thead>
                <tbody>
                {{#each risks}}
                    <tr>
                        <td><a href="/project/{{this.project_id}}/risk">{{this.project_name}}</a></td>
                        <td class="dateFixedWidth">{{formatDate this.date_added}}</td>
                        <td class="rag_status {{this.likelihood}}">{{this.likelihood}}</td>
                        <td class="rag_status {{this.impact}}">{{this.impact}}</td>
                        <td class="rag_status {{this.severity}}">{{this.severity}}</td>
                        <td>{{breaklines this.risk}}</td>
                        <td>{{breaklines this.mitigating_action}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
