<script src="/js/addMethods.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <nav class="breadcrumb navbar py-0">
                <ul class="breadcrumb mr-auto pb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/programme">Programme</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Risk register</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><div class="pageTitle">Risk Register</div></div>
    </div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center columnHeading">Likelihood</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item Red h5 font-weight-bold text-center traffic_light m-0">{{likelihoodTotals.red}}</li>
                    <li class="list-group-item Amber h5 font-weight-bold text-center traffic_light m-0">{{likelihoodTotals.amber}}</li>
                    <li class="list-group-item Green h5 font-weight-bold text-center traffic_light m-0">{{likelihoodTotals.green}}</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center columnHeading">Impact</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item Red h5 text-center font-weight-bold traffic_light m-0">{{impactTotals.red}}</li>
                    <li class="list-group-item Amber h5 text-center font-weight-bold traffic_light m-0">{{impactTotals.amber}}</li>
                    <li class="list-group-item Green h5 text-center font-weight-bold traffic_light m-0">{{impactTotals.green}}</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center columnHeading">Severity</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item Red h5 text-center font-weight-bold traffic_light m-0">{{severityTotals.red}}</li>
                    <li class="list-group-item Amber h5 text-center font-weight-bold traffic_light m-0">{{severityTotals.amber}}</li>
                    <li class="list-group-item Green h5 text-center font-weight-bold traffic_light m-0">{{severityTotals.green}}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <table id="report_table" class="table table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Report</th>
                    <th>Risk</th>
                    <th>Mitigation</th>
                </tr>
                </thead>
                <tbody>
                {{#each risks}}
                    <tr>
                        <td>
                            {{formatDate this.date_added}} - <a href="/project/{{this.project_id}}/risk">{{this.project_name}}</a>
                            <table class="table">
                                <thead>
                                <th>Likelihood</th>
                                <th>Impact</th>
                                <th>Severity</th>
                                </thead>
                                <tr>
                                    <td class="rag_status {{this.likelihood}}">
                                        <div class="{{this.likelihood}}">{{this.likelihood}}</div>
                                    </td>
                                    <td class="rag_status {{this.impact}}">
                                        <div class="{{this.impact}}">{{this.impact}}</div>
                                    </td>

                                    <td class="rag_status {{this.severity}}">
                                        <div class="{{this.severity}}">{{this.severity}}</div>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td>{{breaklines this.risk}}</td>
                        <td>{{breaklines this.mitigating_action}}</td>
                    </tr>
                {{else}}
                    <tr><td colspan="7" align="center">There are no open risks for the programme</td></tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
