<script src="/js/addMethods.js"></script>
<div class="container-fluid">
    <div class="pageTitle">Risk Register</div>
    <div class="pageSubTitle">All open project risks</div>


    <div class="row justify-content-md-center align-items-center">
        <div class="col col-lg-3">
            <div class="card">
                <h5 class="card-header text-center">Likelihood</h5>
                <div class="card-body" style="margin: 0 auto">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger display-4 font-weight-bold text-center">{{likelihoodTotals.red}}</li>
                        <li class="list-group-item bg-warning display-4 font-weight-bold text-center">{{likelihoodTotals.amber}}</li>
                        <li class="list-group-item bg-success display-4 font-weight-bold text-center">{{likelihoodTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="card">
                <h5 class="card-header text-center">Impact</h5>
                <div class="card-body" style="margin: 0 auto">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger text-center font-weight-bold display-4">{{impactTotals.red}}</li>
                        <li class="list-group-item bg-warning text-center font-weight-bold display-4">{{impactTotals.amber}}</li>
                        <li class="list-group-item bg-success text-center font-weight-bold display-4">{{impactTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="card">
                <h5 class="card-header text-center">Severity</h5>
                <div class="card-body" style="margin: 0 auto">
                    <ul class="list-group list-group-horizontal list-group-flush">
                        <li class="list-group-item bg-danger text-center font-weight-bold display-4">{{severityTotals.red}}</li>
                        <li class="list-group-item bg-warning text-center font-weight-bold display-4">{{severityTotals.amber}}</li>
                        <li class="list-group-item bg-success text-center font-weight-bold display-4">{{severityTotals.green}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <table id="report_table" class="table">
                <thead class="thead-light">
                <tr>
                    <th>Project</th>
                    <th>Date Added</th>
                    <th>Likelihood</th>
                    <th>Impact</th>
                    <th>Severity</th>
                    <th>Risk</th>
                    <th>Mitigation</th>
                </tr>
                </thead>
                <tbody>
                {{#each risks}}
                    <tr>
                        <td><a href="/project/{{this.project_id}}/risk">{{this.project_name}}</a></td>
                        <td class="dateFixedWidth">{{formatDate this.date_added}}</td>
                        <td class="rag_status {{this.likelihood}}">{{this.likelihood}}</td>
                        <td class="rag_status {{this.impact}}">{{this.impact}}</td>
                        <td class="rag_status {{this.severity}}">{{this.severity}}</td>
                        <td>{{this.risk}}</td>
                        <td>{{this.mitigating_action}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
