<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <nav class="breadcrumb navbar py-0">
                <ul class="breadcrumb mr-auto pb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/project">Projects</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/project/{{project.id}}">{{project.name}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit project</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><div class="pageTitle">Edit Project</div></div>
    </div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-8">
            <form action="/project/{{project.id}}" method="post">
                <div class="form-group">
                    <label for="text">Name</label>
                    <input type="text" class="form-control" name="name" id="projectName" aria-describedby="nameHelp"
                           placeholder="Project name" value="{{project.name}}">
                    <small id="nameHelp" class="form-text text-muted">Name of the project</small>
                </div>

                <div class="form-group">
                    <label for="projectCode">Code</label>
                    <input type="text" class="form-control" name="code" id="projectCode" aria-describedby="codeHelp"
                           placeholder="Project code" value="{{project.code}}">
                    <small id="codeHelp" class="form-text text-muted">Code assigned to the project</small>
                </div>

                <div class="form-group">
                    <label for="productOwner">Product Owner</label>
                    <input type="text" class="form-control" name="product_owner" id="productOwner" aria-describedby="poHelp"
                           placeholder="Product owner" value="{{project.product_owner}}">
                    <small id="poHelp" class="form-text text-muted">Name of the product owner</small>
                </div>

                <div class="form-group">
                    <label for="techLead">Tech lead</label>
                    <input type="text" class="form-control" name="tech_lead" id="techLead" aria-describedby="tlHelp"
                           placeholder="Technical lead" value="{{project.tech_lead}}">
                    <small id="tlHelp" class="form-text text-muted">Name of the technical lead</small>
                </div>

                <div class="form-group row">
                    <label for="groupSelect" class="col-sm-2 col-form-label">Group</label>

                    {{#each groups }}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="projectGroup"
                                   id="projectGroup_{{this.id}}" value="{{this.id}}"
                                   {{#ifCond this.id "==" ../project.project_group_id}}checked{{/ifCond}}>
                            <label class="form-check-label" for="projectGroup_{{this.id}}">{{this.name}}</label>
                        </div>
                    {{/each}}
                </div>

                <div class="form-group row">
                    <label for="phaseSelect" class="col-sm-2 col-form-label">Phase</label>

                    {{#each phases }}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="phase"
                                   id="phaseSelect_{{this.id}}" value="{{this.id}}"
                                   {{#ifCond this.id "==" ../project.phase}}checked{{/ifCond}}>
                            <label class="form-check-label" for="phaseSelect_{{this.id}}">{{this.name}}</label>
                        </div>
                    {{/each}}

                </div>

                <div class="form-group">
                    <label for="descriptionInput">Description</label>
                    <textarea rows="3"
                              class="form-control"
                              name="description"
                              id="descriptionInput"
                              placeholder="Description of the project">{{project.description}}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Update project</button>
            </form>
        </div>
    </div>
</div>
