<script src="/js/addMethods.js"></script>
<div class="container-fluid">
    <div class="row justify-content-md-center align-items-center dontPrint">
        <div class="col col-md-10">
            <div class="pageTitle">Projects</div>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center dontPrint">
        <div class="col col-md-10">
            <p>
                <a class="btn btn-outline-secondary btn-sm" href="/" role="button">
                    <i class="fas fa-home"></i> Home
                </a>
                {{#if user.admin}}
                    <a class="btn btn-outline-secondary btn-sm" href="/project?action=add" role="button">
                        <i class="fas fa-plus-square"></i> Add Project
                    </a>
                {{/if}}
            </p>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-10">

            <table id="report_table" class="table">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Phase</th>
                </tr>
                </thead>
                <tbody>
                {{#each projects}}
                    <tr>
                        <td class="actionsFixedWidthXL">
                            <a data-toggle="tooltip" title="Edit project" href="/project/{{this.id}}?action=edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-toggle="tooltip" title="Delete project" href="/project/{{this.id}}"
                               data-method="delete"
                               data-target-url="/project/"
                               data-confirm="Are you sure?">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <td>{{this.name}}</td>
                        <td>{{this.code}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.phase_name}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
