<script src="/js/addMethods.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <nav class="breadcrumb navbar py-0">
                <ul class="breadcrumb mr-auto pb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Projects</li>
                </ul>
                <div class="navbar pt-3 pb-0">
                    <ul class="list-inline">
                        {{#if user.admin}}
                            <li class="list-inline-item">
                                <a class="" href="/project?action=add">
                                    <i class="fas fa-plus-square"></i> Add Project
                                </a>
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><div class="pageTitle">Projects</div></div>
    </div>

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">

            <table id="report_table" class="table table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Phase</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each projects}}
                    <tr>
                        <td class="actionButtonColumn">
                            {{#if ../user.admin}}
                                <a class="" data-toggle="tooltip" title="Edit project" href="/project/{{this.id}}?action=edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                            {{/if}}
                        </td>
                        <td><a  href="/project/{{this.id}}"> {{this.name}}</a></td>
                        <td>{{this.code}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.phase_name}}</td>
                        <td class="deleteButtonColumn">
                            <a class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="Delete project" href="/project/{{this.id}}"
                                data-method="delete"
                                data-target-url="/project/"
                                data-confirm="Are you sure?" role="button">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
