<div class="container-fluid">
    <div class="row dontPrint">
        <div class="col col-md-12">
            <nav class="breadcrumb navbar py-0">
                <ul class="breadcrumb mr-auto pb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/project">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
                </ul>
                <div class="navbar mt-2 mb-0 py-0">
                    <ul class="list-inline">
                        {{#if user.admin}}
                            <li class="list-inline-item">
                                <a class="" href="/project/{{project.id}}?action=edit">
                                    <i class="fas fa-edit"></i> Edit Project
                                </a>
                            </li>
                        {{/if}}

                        <li class="list-inline-item">
                            <a href="#" onclick="window.print();return false;">
                                <i class="fas fa-print"></i> Print
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center py-0">
        <div class="col-md-7">
            <h1 class="heading-xlarge">{{project.name}}</h1>
        </div>
        <div class="col-md-3">
            <table class="table table-sm table-borderless">
                <thead>
                <th>Benefits</th>
                <th>Schedule</th>
                <th>Scope</th>
                <th>Risk</th>
                </thead>
                <tr>
                    <td class="rag_status {{reports.0.benefits}}">
                        <div class="{{reports.0.benefits}}">{{reports.0.benefits}}</div>
                    </td>
                    <td class="rag_status {{reports.0.schedule}}">
                        <div class="{{reports.0.schedule}}">{{reports.0.schedule}}</div>
                    </td>

                    <td class="rag_status {{reports.0.scope}}">
                        <div class="{{reports.0.scope}}">{{reports.0.scope}}</div>
                    </td>
                    <td class="rag_status {{reports.0.risk}}">
                        <div class="{{reports.0.risk}}">{{reports.0.risk}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row justify-content-md-center align-items-center py-1">
        <div class="col-md-10">
            <p>{{project.description}}</p>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center py-1">
        <div class="col col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                       aria-controls="home" aria-selected="true">Milestones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab"
                       aria-controls="history" aria-selected="false">Report History</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="row justify-content-between my-4">
                        <div class="col-md-8">
                            <ul class="timeline">
                                {{#each milestones}}
                                    <li>
                                        <div class="clearfix">
                                            <p class="float-left stage-header">{{title}}</p>
                                            <p class="float-right">{{dateFormat date "DD-MMM-YY"}} </p>
                                        </div>
                                        <p> {{{description}}} </p>
                                    </li>
                                {{else}}
                                    <div class="pageSubTitle">No milestones defined</div>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col">
                                    <h4 class="">Product Owner</h4>
                                    {{#if project.product_owner}}
                                        <p>{{project.product_owner}}</p>
                                    {{else}}
                                        <p>Not set</p>
                                    {{/if}}
                                    <h4 class="">Tech Lead</h4>
                                    {{#if project.tech_lead}}
                                        <p>{{project.tech_lead}}</p>
                                    {{else}}
                                        <p>Not set</p>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row py-3 dontPrint">
                                <div class="col">
                                    <a class="" href="/project/{{project.id}}/risk"
                                       role="button">
                                        <i class="fas fa-exclamation-triangle"></i> Project Risks
                                    </a>
                                </div>
                            </div>
                            {{#if user.editor}}
                                <div class="row dontPrint">
                                    <div class="col">
                                        <a class="" href="/project/{{project.id}}/milestone"
                                           role="button">
                                            <i class="fas fa-bullseye"></i> Manage Milestones
                                        </a>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>

                <!--  Second tab: Status report history-->

                <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                    <table id="report_table" class="table table-hover table-bordered">
                        <thead class="thead-light">
                        <tr>
                            {{#if user.editor}}
                                <th class="dontPrint actionButtonColumn"></th>
                            {{/if}}
                            <th class="team_column">Report</th>
                            <th>Highlights / Lowlights</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each reports}}
                            <tr>
                                {{#if ../user.editor}}
                                    <td class="dontPrint actionButtonColumn">
                                        <a data-toggle="tooltip" title="Edit this report"
                                           href="/project/{{../project.id}}/report/{{this.report_id}}">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                    </td>
                                {{/if}}
                                <td>
                                    <a data-toggle="tooltip" title="View report"
                                       href="/report/{{this.report_id}}">Date : {{formatDate this.report_date}}</a>
                                    <table class="table">
                                        <thead>
                                        <th>Benefits</th>
                                        <th>Schedule</th>
                                        <th>Scope</th>
                                        <th>Risk</th>
                                        </thead>
                                        <tr>
                                            <td class="rag_status {{this.benefits}}">
                                                <div class="{{this.benefits}}">{{this.benefits}}</div>
                                            </td>
                                            <td class="rag_status {{this.schedule}}">
                                                <div class="{{this.schedule}}">{{this.schedule}}</div>
                                            </td>

                                            <td class="rag_status {{this.scope}}">
                                                <div class="{{this.scope}}">{{this.scope}}</div>
                                            </td>
                                            <td class="rag_status {{this.risk}}">
                                                <div class="{{this.risk}}">{{this.risk}}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td class="text-sm-left">
                                    <div class="d-flex">
                                        <p><b>Benefits:</b> {{breaklines this.benefits_text}}</p>
                                    </div>
                                    <div class="d-flex">
                                        <p><b>Schedule:</b> {{breaklines this.schedule_text}}</p>
                                    </div>
                                    <div class="d-flex">
                                        <p><b>Scope:</b> {{breaklines this.scope_text}}</p>
                                    </div>
                                    <div class="d-flex">
                                        <p><b>Risk:</b> {{breaklines this.risk_text}}</p>
                                    </div>
                                </td>
                            </tr>
                        {{else}}
                            <div class="pageSubTitle">No reports defined</div>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
