<script src="/js/addMethods.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <nav class="breadcrumb navbar py-0">
                <ul class="breadcrumb mr-auto pb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reports</li>
                </ul>
                <div class="navbar pt-3 pb-0">
                    <ul class="list-inline">
                        {{#if user.admin}}
                            <a class="" href="/report?action=add" role="button">
                                <i class="fas fa-plus-square"></i> Add Report
                            </a>
                        {{/if}}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <div class="pageTitle">Reports</div>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">

            <table id="report_table" class="table table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each project_reports}}
                    <tr>
                        <td class="actionButtonColumn">
                            {{#if ../user.admin}}
                                <a data-toggle="tooltip" title="Edit report" href="/report/{{this.id}}?action=edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                            {{/if}}
                        </td>
                        <td class="dateFixedWidth"><a data-toggle="tooltip" title="View report"
                                                      href="/report/{{this.id}}">{{formatDate this.report_date}}</a>
                        </td>
                        <td>{{this.title}}</td>
                        <td class="deleteButtonColumn">
                            <a class="btn btn-outline-danger btn-sm"
                               data-toggle="tooltip" title="Delete report" href="/report/{{this.id}}"
                               data-method="delete"
                               data-target-url="/report/"
                               data-confirm="Are you sure?">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
