<div class="container-fluid">

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <div class="pageTitle">{{project.name}}</div>
            <div class="pageSubTitle">Status reports</div>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center dontPrint">
        <div class="col-md-11">
            <p>
                <a class="btn btn-outline-secondary btn-sm" href="/" role="button">
                    <i class="fas fa-home"></i> Home
                </a>
                <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#projectDescription"
                   role="button"
                   aria-expanded="false" aria-controls="projectDescription">
                    <i class="fas fa-info-circle"></i> Project Description
                </a>
                <a class="btn btn-outline-secondary btn-sm" href="/project/{{project.id}}/risk"
                   role="button">
                    <i class="fas fa-exclamation-triangle"></i> Project Risks
                </a>
                {{#if user.admin}}
                <a class="btn btn-outline-secondary btn-sm" href="/project/{{project.id}}?action=edit"
                   role="button">
                    <i class="fas fa-edit"></i> Edit Project
                </a>
                {{/if}}
                <button class="btn btn-outline-secondary btn-sm" onclick="window.print();return false;"/>
                <i class="fas fa-print"></i> Print
                </button>
            </p>
            <div class="collapse" id="projectDescription">
                <div class="card card-body">
                    <div class="reportDescription">{{project.description}}</div>
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <table id="report_table" class="table table-striped table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    {{#if user.editor}}
                        <th class="dontPrint actionsFixedWidth"></th>
                    {{/if}}
                    <th class="actionsFixedWidth">Date</th>
                    <th class="rag_status">Benefits</th>
                    <th class="rag_status">Schedule</th>
                    <th class="rag_status">Scope</th>
                    <th class="rag_status">Risk</th>
                    <th>Highlights/Lowlights</th>
                </tr>
                </thead>
                <tbody>
                {{#each reports}}
                    <tr>
                        {{#if ../user.editor}}
                            <td class="dontPrint">
                                <a data-toggle="tooltip" title="Edit this report"
                                   href="/project/{{../project.id}}/report/{{this.report_id}}">
                                    <i class="fas fa-edit"></i>
                                </a>

                            </td>
                        {{/if}}
                        <td class="actionsFixedWidth" style="width: 150px">
                            <a data-toggle="tooltip" title="View report"
                               href="/report/{{this.report_id}}">{{formatDate this.report_date}}</a>
                        </td>
                        <td class="rag_status {{benefits}}">{{benefits}}</td>
                        <td class="rag_status {{schedule}}">{{schedule}}</td>
                        <td class="rag_status {{scope}}">{{scope}}</td>
                        <td class="rag_status {{risk}}">{{risk}}</td>
                        <td class="text-sm-left">
                            <div class="d-flex">
                                <div class="font-weight-bold" style="float: left;">Benefits:</div>
                                <div class="col">{{breaklines this.benefits_text}}</div>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold" style="float: left;">Schedule:</div>
                                <div class="col ml-auto" style="float: left;">{{breaklines this.schedule_text}}</div>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold" style="float: left;">Scope:</div>
                                <div class="col">{{breaklines this.scope_text}}</div>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold" style="float: left;">Risk:</div>
                                <div class="col">{{breaklines this.risk_text}}</div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
