<div class="container-fluid">
    <div class="row dontPrint">
        <div class="col col-md-12">
            <nav class="breadcrumb navbar py-0">
                <ul class="breadcrumb mr-auto pb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/project">Projects</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
                </ul>
                <div class="navbar pt-3 pb-0">
                    <ul class="list-inline">
                        {{#if user.admin}}
                            <li class="list-inline-item">
                                <a class="" href="/project/{{project.id}}?action=edit">
                                    <i class="fas fa-edit"></i> Edit Project
                                </a>
                            </li>
                        {{/if}}
                        <li class="list-inline-item">
                            <a class="" href="/project/{{project.id}}/risk"
                               role="button">
                                <i class="fas fa-exclamation-triangle"></i> Project Risks
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" onclick="window.print();return false;">
                                <i class="fas fa-print"></i> Print
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="pageTitle">'{{project.name}}' reports</div>
        </div>
    </div>
    <div class="row" id="projectDescription">
        <div class="col text-center pageSubTitle">{{project.description}}</div>
    </div>


    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-11">
            <table id="report_table" class="table table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    {{#if user.editor}}
                        <th class="dontPrint actionButtonColumn"></th>
                    {{/if}}
                    <th class="dateFixedWidth">Date</th>
                    <th class="rag_status">Benefits</th>
                    <th class="rag_status">Schedule</th>
                    <th class="rag_status">Scope</th>
                    <th class="rag_status">Risk</th>
                    <th>Highlights/Lowlights</th>
                </tr>
                </thead>
                <tbody>
                {{#each reports}}
                    <tr>
                        {{#if ../user.editor}}
                            <td class="dontPrint actionButtonColumn">
                                <a data-toggle="tooltip" title="Edit this report"
                                   href="/project/{{../project.id}}/report/{{this.report_id}}">
                                    <i class="fas fa-edit"></i>
                                </a>

                            </td>
                        {{/if}}
                        <td class="dateFixedWidth">
                            <a data-toggle="tooltip" title="View report"
                               href="/report/{{this.report_id}}">{{formatDate this.report_date}}</a>
                        </td>
                        <td class="rag_status {{benefits}}">{{benefits}}</td>
                        <td class="rag_status {{schedule}}">{{schedule}}</td>
                        <td class="rag_status {{scope}}">{{scope}}</td>
                        <td class="rag_status {{risk}}">{{risk}}</td>
                        <td class="text-sm-left">
                            <div class="d-flex">
                                <p><b>Benefits:</b> {{breaklines this.benefits_text}}</p>
                            </div>
                            <div class="d-flex">
                                <p><b>Schedule:</b> {{breaklines this.schedule_text}}</p>
                            </div>
                            <div class="d-flex">
                                <p><b>Scope:</b> {{breaklines this.scope_text}}</p>
                            </div>
                            <div class="d-flex">
                                <p><b>Risk:</b> {{breaklines this.risk_text}}</p>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
