<div class="container-fluid">

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-8">
            <div class="pageTitle">RAG report for {{formatDate report.report_date}}</div>
            <div id="headerButtons">
                <p>
                    <a class="btn btn-outline-secondary btn-sm" href="/" role="button">
                        <i class="fas fa-home"></i> Home
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#reportDashboard"
                       role="button"
                       aria-expanded="true" aria-controls="projectDescription">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#projectDescription"
                       role="button"
                       aria-expanded="false" aria-controls="projectDescription">
                        <i class="fas fa-info-circle"></i> Description
                    </a>
                    <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#downloadLinks"
                       role="button"
                       aria-expanded="false" aria-controls="downloadLinks">
                        <i class="fas fa-download"></i> Download
                    </a>
                    <button class="btn btn-outline-secondary btn-sm" onclick="window.print();return false;"/>
                    <i class="fas fa-print"></i> Print
                    </button>


                </p>
                <div class="collapse" id="projectDescription">
                    <div class="card card-body">
                        <div class="reportDescription">{{report.title}}</div>
                    </div>
                </div>
                <div class="collapse" id="downloadLinks">
                    <div class="card card-body">
                        <a href="/report/{{report.id}}?action=xlsx"><i class="fas fa-file-excel"></i> Download report as
                            Excel file</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center align-items-center collapse show no-gutters" id="reportDashboard">
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center">Benefits</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item bg-danger h6 font-weight-bold text-center traffic_light">{{benefitTotals.red}}</li>
                    <li class="list-group-item bg-warning h6 font-weight-bold text-center traffic_light">{{benefitTotals.amber}}</li>
                    <li class="list-group-item bg-success h6 font-weight-bold text-center traffic_light">{{benefitTotals.green}}</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center">Scope</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item bg-danger h6 font-weight-bold text-center traffic_light">{{scopeTotals.red}}</li>
                    <li class="list-group-item bg-warning h6 font-weight-bold text-center traffic_light">{{scopeTotals.amber}}</li>
                    <li class="list-group-item bg-success h6 font-weight-bold text-center traffic_light">{{scopeTotals.green}}</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center">Schedule</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item bg-danger h6 text-center font-weight-bold traffic_light">{{scheduleTotals.red}}</li>
                    <li class="list-group-item bg-warning h6 text-center font-weight-bold traffic_light">{{scheduleTotals.amber}}</li>
                    <li class="list-group-item bg-success h6 text-center font-weight-bold traffic_light">{{scheduleTotals.green}}</li>
                </ul>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="card">
                <h6 class="card-header text-center">Risk</h6>
                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item bg-danger h6 text-center font-weight-bold traffic_light">{{riskTotals.red}}</li>
                    <li class="list-group-item bg-warning h6 text-center font-weight-bold traffic_light">{{riskTotals.amber}}</li>
                    <li class="list-group-item bg-success h6 text-center font-weight-bold traffic_light">{{riskTotals.green}}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-11">
            <table id="report_table" class="table table-striped table-hover table-bordered">
                <thead class="thead-light">
                <tr>
                    {{#if user.editor}}
                        <th class="dontPrint actionsFixedWidth"></th>
                    {{/if}}
                    <th class="project_code_column">Code</th>
                    <th class="team_column">Service / Team</th>
                    <th class="rag_status">Benefits</th>
                    <th class="rag_status">Schedule</th>
                    <th class="rag_status">Scope</th>
                    <th class="rag_status">Risk</th>
                    <th>Highlights/Lowlights
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each project_rag}}
                    <tr>
                        {{#if ../user.editor}}
                            <td class="dontPrint">
                                <div>
                                    <a data-toggle="tooltip" title="Edit project status"
                                       href="/project/{{this.project_id}}/report/{{../report.id}}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                        {{/if}}
                        <td>{{this.code}}</td>
                        <td>
                            <div class="">
                                <a data-toggle="tooltip" title="View all reports for this project"
                                   href="/project/{{this.project_id}}">{{this.project_name}}</a>
                            </div>
                        </td>
                        <td class="rag_status {{this.benefits}}">
                            <div class="textOnLeft {{this.benefits}}">{{this.benefits}}</div>
                            <div class="iconOnRight {{this.benefits}}">
                                <i class="{{directionArrow benefits previous_benefits}}"
                                   aria-hidden="true"></i>
                            </div>
                        </td>
                        <td class="rag_status {{this.schedule}}">
                            <div class="textOnLeft {{this.schedule}}">{{this.schedule}}</div>
                            <div class="iconOnRight {{this.schedule}}">
                                <i class="{{directionArrow schedule previous_schedule}}"
                                   aria-hidden="true"></i>
                            </div>
                        </td>

                        <td class="rag_status {{this.scope}}">
                            <div class="textOnLeft {{this.scope}}">{{this.scope}}</div>
                            <div class="iconOnRight {{this.scope}}">
                                <i class="{{directionArrow scope previous_scope}}"
                                   aria-hidden="true"></i>
                            </div>
                        </td>
                        <td class="rag_status {{this.risk}}">
                            <div class="textOnLeft {{this.risk}}">{{this.risk}}</div>
                            <div class="iconOnRight {{this.risk}}">
                                <i class="{{directionArrow risk previous_risk}}"
                                   aria-hidden="true"></i>
                            </div>
                        </td>
                        <td class="text-sm-left">
                            <div class="d-flex">
                                <div class="font-weight-bold" style="float: left;">Benefits:</div>
                                <div class="col">{{breaklines this.benefits_text}}</div>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold" style="float: left;">Schedule:</div>
                                <div class="col ml-auto" style="float: left;">{{breaklines this.schedule_text}}</div>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold" style="float: left;">Scope:</div>
                                <div class="col">{{breaklines this.scope_text}}</div>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold" style="float: left;">Risk:</div>
                                <div class="col">{{breaklines this.risk_text}}</div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
